.TodoTemplate {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;
    
    .app-title {
        background-color: #04081d;
        color: white;
        height: 4rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
       position: relative;
        .app-date {
            position: absolute;
            bottom: 2px;
            left: 2px;
            font-size: 1rem;
            margin: 0;
        }

    }
    .content {
        background: white;
    }
}