@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Yeon+Sung&display=swap');

.TodoTemplate {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;
    
    .app-title {   
        font-family: 'Yeon Sung', cursive;
        background-color: #6f6ab3;
        color: white;
        height: 4rem;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
       position: relative;
        .app-date {
            position: absolute;
            bottom: 2px;
            left: 2px;
            font-size: 1rem;
            margin: 0;
        }

    }
    .content {
        background: white;
    }
}
* {
    font-family: 'Noto Sans KR', sans-serif;
}